$app_brand_color: rgb(255, 149, 21);
$app_brand_color_2: rgb(255, 149, 21);
$app_brand_color_3: rgb(255, 149, 21);

$app_document_background_color: white;

$app_nav_background_color: rgb(34, 34, 34);
$app_nav_outline_color: rgb(58, 58, 58);

$app_form_label_color: rgb(206, 206, 206);
$app_form_text_color: rgb(82, 82, 82);

$color-white: #fff;
$color-hover: #f27a2a;
$color-active: #f27a2a;
$color-bg-dark: #181819;

$validation-required-color-red: red;

$form_label_color: rgb(80, 80, 80);
$form_text_color: #333333;
$form_placeholder_text_color: rgb(167, 167, 167);
$form_disabled_placeholder_text_color: rgb(167, 167, 167);

$app_spinner_color: rgb(99, 99, 99);
